.detail-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 150px; /* Justera bredden efter behov */
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card-img {
    width: 50px; /* Justera storleken på bilden efter behov */
    height: 50px; /* Justera storleken på bilden efter behov */
  }