/* Styles specific to the main weather card */
.weather-cardssss {
  background-color: rgb(15, 14, 14); /* Tailwind gray-800 */
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 1rem 0;
  color: white;
  text-align: center;
}

.weather-card{
width: 400px;
height: auto;
background-color: rgb(27, 26, 26); /* Tailwind gray-800 */
border-radius: 0.5rem;
text-align: center;
padding: 1rem;
  margin: 1rem 0;
}


.weather-card h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}

.weather-card h3 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 0.25rem 0;
}

.weather-card img {
  width: 100px; /* Adjust as needed */
  height: auto;
}


.center-div{
display: flex;
justify-content: center;

}